# App Configuration
PROJECT_NAME="Breakprout Server"
DEBUG=true
API_V1_STR="/api/v1"

# Security
SECRET_KEY="change_me_to_something_very_secret_and_secure"
ACCESS_TOKEN_EXPIRE_MINUTES=11520  # 8 days

DATABASE_URL="postgresql+asyncpg://postgres:postgres@db:5432/breakprout"

